.interfacePage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 80vh; */
    position: relative;
    z-index: 2;
}

.newMeetingForm *:not(.fa) {
    font-family: "Roboto", "sans-sarif";
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newMeeting p {
    text-align: center;
    font-size: 32px;
    color: #20B2AA;
}


.newMeetingForm {
    /* position: absolute; */
    padding: 35px 35px 10px 35px;
    border: 4px solid #20B2AA;
    border-radius: 9px;
    /* margin-left: 220px; */
    margin-bottom: 200px;
    display: inline-block;
    justify-content: center;
}



.newMeetingForm input[type=text] {
    padding: 10px 20px;
    margin: 8px 8px 8px 0px;
    display: inline-block;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 15px;
}


textarea {
    padding: 15px;
    font-size: 15px;
}

.input0 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 330px;
}

.back {
    margin-left: 260px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    float: right;
}

textarea {
    margin-top: 4px;
    /* margin-right: 90px; */
}

.input1 {
    float: left;
    margin-right: 180px;
}

.input2 {
    float: left;
}

.input11 {
    float: left;
    margin-right: 350px;
}

.input3 {
    float: left;
    margin-right: 20px;
}

.input4 {
    float: left;
    margin-right: 54px;
}

.input6 {
    float: left;
    margin-top: 12px;
}

.input10 {
    float: left;
    margin-top: 12px;
    margin-left: 155px;
}

.input7 {
    float: left;
    margin-top: 12px;
    margin-left: 55px;
}

.input8 {
    float: left;
    margin-top: 18px;
}

.input9 {
    float: left;
    text-align: center;
    align-items: center;
    margin-left: 118px;
}

.invitediv {
    float: left;
    /* margin-left: 250px; */
}

.newMeetingForm input[type=checkbox] {
    height: 20px;
    width: 20px;
}


.newMeetingForm input[type=datetime-local] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    border-radius: 3px;
}

.newMeetingForm input[type=number] {
    padding: 8px 10px 8px 40px;
    margin-top: 7px;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    border-radius: 3px;
}

select {
    padding: 10px 10px 10px 10px;
    margin-top: 7px;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    border-radius: 3px;
}


.invitebtn {
    padding: 9px 38px;
    margin: 78px 0px 55px 88px;
    border: 2px solid #8c8c8c;;
    color: #20B2AA; 
    font-weight: 500;
    background-color: white;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
}

.savebtn {
    padding: 9px 68px;
    margin: 80px 0px 55px 95px;
    border: none;
    color: white; 
    font-weight: 500;
    background-color: #20B2AA;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
}


.invitebtn:hover {
    border-radius: 4px;
    color: #1a1a1a;
    transition: all 0.5s ease-in-out;
}

.savebtn:hover {
    border-radius: 4px;
    color: #1a1a1a;
    transition: all 0.5s ease-in-out;
}



@media screen and (max-width: 992px) {
    
    .interfacePage {
        display: block;
    }

    .newMeetingForm {
        margin: auto;
        padding: auto;
        flex-direction: column;
        width: 100%;
    }

    .newMeeting p {
        font-size: 25px;
    }

    form {
        font-size: small;
    }

    textarea {
        columns: unset;
        padding: auto;
    }

    .back {
        margin: auto;
    }

    .input0 {
        margin: auto;
    }

    .newMeetingForm input[type=text] {
        padding: 10px 10px;
    }

    .input9 {
        margin: auto;
    }

    .input10 {
        margin: auto;
    }

    .input7 {
        margin: auto;
    }

    .invitebtn {
        margin: auto;
    }

    .savebtn {
        margin: 40px 0px 55px 25px;
    }

}

@media screen and (max-width: 470px) {
    
    .invitebtn {
        margin-top: 40px;
    }

    .savebtn {
        margin: 20px auto 50px auto;
    }

    .input10 {
        margin: auto;
    }

    .input7 {
        margin: auto;
    }

    .input11 {
        margin: auto;
    }
}